<div>
    <div class="form-style-9">
      <h3>Login</h3>
    <ul>
    <li>
        <input type="email" style="width: 100%;" ng-model="email" class="field-style field-split align-centre loginInput" placeholder="smob@gmail.com" />
    
    </li>
    <li>
        <input type="password" style="width: 100%;" ng-model="password" class="field-style field-split align-centre" placeholder="Password" />
    </li>
    <li>
  <button class="loginBtn" ng-click="login()" ng-disabled="!email || !password" style="width: 100%;">login</button>
    </li>
    </ul>
    </div>
</div>